/* imports */
/* globals */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
body {
  background: #3282B8;
  color: white;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 98%;
  margin: auto;
}

.container-footer {
  width: 98%;
  margin: auto;
}

/* nav */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px 0;
  margin-top: 20px;
  margin-left: 20px;
}
.nav-main ul {
  display: flex;
  justify-content: flex-end;
}
.nav-main ul li {
  list-style-type: none;
  text-align: left;
  padding: 25px;
}
.nav-main ul li a {
  padding: 4px 10px;
}
.nav-main ul li a:hover {
  background: #1446c8;
  transition: 0.8s;
}

.nav-logo {
  width: 200px;
  margin-left: 20px;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
  z-index: 2;
  font-size: 1.3rem;
  display: none;
}

/* header */
.header {
  width: 100%;
  height: 750px;
  background: url(/img/photo-1560264280-88b68371db39.jfif) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .tituloprincipal {
  color: #134a6e;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  line-height: 2;
  top: 30%;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  margin-top: 5rem;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* main */
.main section {
  color: #134a6e;
  background-color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}

.news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 30px;
}
.news-cards img {
  width: 80%;
  height: 150px;
}
.news-cards h4 {
  font-size: 20px;
  margin: 10px 0;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* section */
.section {
  color: #134a6e;
  background-color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
}

.logo-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  margin: 10px;
}
.logo-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  transition: height 2s, width 1s;
}
.logo-section img:hover {
  height: 200px;
}
.logo-section h4 {
  font-size: 25px;
  margin: 10px 0;
  text-align: center;
}
.logo-section p {
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 10px 150px;
}

/* contact */
.contact {
  margin: 0;
}

.direct {
  color: white;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
}
.direct h2 {
  color: #134a6e;
  background-color: white;
  text-align: center;
  font-size: 2rem;
}
.direct p {
  margin: 10px;
}

.form .formulario {
  width: 600px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}

.formulario__titulo {
  text-align: center;
  margin: 0 0px 20px;
  color: rgba(0, 0, 0, 0.7);
}

.formulario__input, .formulario__label,
.formulario__reset, .formulario__submit {
  display: block;
  width: 100%;
  font-size: 1.3rem;
}

.formulario__input {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.1);
}

.formulario__input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.7);
}

.formulario__input:focus + .formulario__label {
  margin-top: -135px;
}

.formulario__label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.formulario__reset,
.formulario__submit {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: pointer;
  border: none;
}

.fijar {
  margin-top: -135px;
}

.map iframe {
  width: 100%;
}

/* footer */
.footer {
  background: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.list-items {
  text-align: center;
  font-size: 12px;
}

.pie {
  background: black;
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, black, #161616);
}

/*# sourceMappingURL=style.css.map */
