/* variables */

$colorprimario: #3282B8;
$colorsecundario: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
body {
    background: $colorprimario;
    color: $colorsecundario;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;

}
a {
    color: $colorsecundario;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 98%;
    margin: auto;
}
.container-footer {
    width: 98%;
    margin: auto;
}